<!DOCTYPE html>
<html>
<head>
  <title>Clearwater Partners</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <h1 class="center" id="title">Clearwater Partners</h1>
  <img src="castleharbor.jpg" class="img">
</body>
</html>

