<!DOCTYPE html>
<html>
<head>
  <title>Clearwater Partners</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <h1 id="title">Clearwater Partners</h1>
  <div class="spacer"></div>
  <div class="info">
  <ul>
    <div class="nav">
      <li>
          <ul>
            <li><h4>About</h4></li>
            <li><h4>Who We Are</h4></li>
            <li><h4>Contact</h4></li>
          </ul>
      </li>
    </div>
    <div class="content">
      <li><p>Hello<p></li>
    </div>
  </ul>
  </div>
  <footer><p>Llyod's</p></footer>
</body>
</html>

