body {
  background: url("../castleharbor.jpg") no-repeat center center fixed;
  background-size: cover;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0;
  color: #666666;
}

h1#title {
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  font-size: 2.7em;
  color: #13549e;
  background-color: white;
  box-shadow: 0 0 50px rgba(0,0,0,0.4);
  margin: auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
  position: fixed;
  z-index: 1; 
}

.spacer {
  height: 175px;
}

.info {
  background-color: white;
  margin: auto;
  position: relative;
  height: 400px;
  width: 70%;
  box-shadow: 0 5px 50px rgba(0,0,0,0.4);
  overflow:hidden;
}

/*.info-panel {
  background-color: #dbdbdb;
  width: 20%;
}

.info-content {
  position: relative;
  padding-left: 20px;
}*/

.nav {
  float: left;
  width: 20%;
  height: 400px;
  border-right: 1px solid #94aed4;
}

.content {
  height:400px;
  width: 78%;
  float: left;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
}

ul li ul li {
  padding-left: 15px;
}

ul li ul li:hover {
  background-color: #dbdbdb;
  height: 20px;
}

.content li {
  padding-left: 15px;
}

footer {
  position: fixed;
  height: 40px;
  background-color:#dbdbdb;
  bottom:0px;
  width: 100%;
  text-align: right;
}
